{% extends "base.html" %}
{% block navbar %}
    <div><a class="btn btn-default" href="{{ url_for("list_todo_lists") }}" role="button">List of lists</a></div>
    <div><a class="btn btn-default" href="{{ url_for("add_list") }}" role="button">Add new list</a></div>
{% endblock %}
{% block content %}
    <h1>BLOCK CONTENT {{ session["username"] }} {{session["user_id"] }} {{ session["todo_list_id"] }}</h1>
    <form method="post">
      <div class="form-group">
        <label>Todo name</label>
        <input type="text" class="form-control" name="todo_name" placeholder="Todo name">
      </div>
      <div class="form-group">
        <label>Due date</label>
        <input type="date" class="form-control" name="todo_due_date" placeholder="Date input">
      </div>
      <div class="form-group">
        <label>Priority</label>
        <input type="range" name="todo_priority" min="0" max="10">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}