{% extends "base.html" %}
{% block navbar %}
    <div><a class="btn btn-default button-max-width" href="{{ url_for("list_todo_lists") }}" role="button">List of lists</a></div>
    <div><a class="btn btn-default button-max-width" href="{{ url_for("add_list") }}" role="button">Add new list</a></div>
{% endblock %}

{% block content %}
{#    <h2>Add new list</h2>#}
    <form action="{{ url_for("add_list") }}" method="post">
        <section>
            <legend><h2>Add new list</h2></legend>
            <label>Enter name for new list <input type="text" name="list_name" required="required" pattern="[A-Za-z0-9]{1,20}"></label>
            <button class="btn btn-default" type="submit">Submit</button>
        </section>
    </form>
{% endblock %}