<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {{ JSGlue.include() }}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="container">
        {% block logo %}
        <div class="row">
            <div class="col-md-2 vcenter"><img src="{{ url_for('static', filename='img/ok.png') }}"/></div>
            <div class="col-md-9 vcenter"><h1 id="logo">Todo App</h1></div>
        </div>
        {% endblock %}
        {% block main_content %}
        <div class="row" style="background-color: white;">
            <div class="col-md-3 module_border">
                {% block navbar %}
                <div><img src="{{ url_for('static', filename='img/user.png') }}"/></div>
                <div>Logged as <strong>{{ session["username"] }}</strong></div>
                <div><a class="btn btn-default button-max-width" href="{{ url_for("logout") }}" role="button">Logout</a></div>
                {% endblock %}
            </div>
            <div class="col-md-9 module_border">
                {% block content %}
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="{{ category }}" role="alert"><strong>{{ message }}</strong></div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                {% endblock %}
            </div>
        </div>
        {% endblock %}
        {% block footer %}
        <div class="row text-centered footer-height">
            <div class="col-md-12">
                Copyright &copy; Paweł Lasota 2017
            </div>
        </div>
        {% endblock %}
    </div>
{% block scripts %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}
{% endblock %}
</body>
</html>
