{% extends "base.html" %}

{% block navbar %}
    {{ super() }}
    <a class="btn btn-default button-max-width" href="{{ url_for("list_todo_lists") }}" role="button">List of lists</a>

{% endblock %}
{% block content %}
    {{ super() }}
    <h2 class="content">Your Todo lists</h2>
    <div id="list_of_lists">
        {% for list in lists %}
            <a class="btn btn-default btn-large" id="list_{{ list.todo_list_id }}" href="" role="button">{{ list.todo_list_name }}</a>
        {% endfor %}
    </div>
    <a class="btn btn-default button-max-width" href="" id="add_new_list" role="button">Add new list</a>
    <div id="l_content" class="row" style="padding: 50px; display: none;"></div>
    <div id="e_content" class="row" style="padding: 50px; display: none;"></div>
    <div id="a_content" class="row" style="padding: 50px; display: none;"></div>
    <div id="a_l_content" class="row" style="padding: 50px; display: none;"></div>
    <div id="info" class="alert alert-success text-centered" hidden></div>

{% endblock %}
{% block scripts %}

<script>

$(document).ready(function() {
    $(document).on('click', '#list_of_lists a', function (event) {
        event.preventDefault();
{#        alert($(this).parent().attr('id'));#}
        var list_id = $(this).attr('id');
        $('div#l_content').slideUp("slow", function () {
            $.ajax({
                data : { list_id: list_id },
                type : 'GET',
                url : '/get_todo_items',
                success : function (data) {
                    if (data) {
                        $('div#e_content').slideUp("slow");
                        $('div#a_content').slideUp("slow");
                        $('div#l_content').slideDown("slow");
                        $('div#l_content').html(data)
                    }
                },
                error : function () {
                    $('div#l_content').innerHTML="Failed to load data"
                }

            });
        });
    });
    $(document).on('change', '[class^=todo_]', function (event) {
        var todo_id = $(this).attr('class');
        $.ajax({
            data : { todo_id: todo_id},
            type : 'GET',
            url : '/toggle',
            success: function (data) {
                if (data == "True") {
                    $('#info').text("Todo item saved as marked").show();
                }
                else {
                    $('#info').text("Todo item saved as unmarked").show();
                }
                $('#info').delay(2000).fadeOut('slow');
            },
            error : function () {
                alert("Toggle error")
            }
        });
    });
    $(document).on('click', '[id^=remove_]', function (event) {
        event.preventDefault();
        var todo_id = $(this).attr('id');
        $.ajax({
            data : { todo_id : todo_id},
            type : 'GET',
            context: this,
            url : '/remove',
            success : function (data) {
                $('#info').text("Todo removed: " + data.todo_name).show();
                $('#info').delay(2000).fadeOut('slow');
                $(this).closest('tr').fadeOut("slow");
            },
            error : function () {
                alert("Remove error")
            }
        })
    });
    $(document).on('click', '[id^=edit_]', function (event) {
        event.preventDefault();
        var todo_id = $(this).attr('id');
        $('div#l_content').slideUp("slow");
        $('div#e_content').slideDown("slow", function () {
            $.ajax({
                data : { todo_id : todo_id},
                type : 'GET',
                url : '/edit',
                success : function (data) {
                    $('div#e_content').slideDown("slow");
                    $('div#e_content').html(data);
                },
                error : function () {
                    alert("Cannot add todo item!")
                }
            })
        })
    });
    $(document).on('click', '[id^=update_todo_]', function (event) {
        event.preventDefault();
        var todo_id = $(this).attr('id');
        var todo_name = $('#todo_name').val();
        var todo_due_date = $('#todo_due_date').val();
        var todo_priority = $('#todo_priority').val();
        var update_todo_list_id = $('#update_todo_list_id').val();
        $.ajax({
            data : { todo_id : todo_id,
                     todo_name : todo_name,
                     todo_due_date : todo_due_date,
                     todo_priority : todo_priority },
            type : 'POST',
            url : '/edit',
            success : function (data) {
                jQuery("#list_"+update_todo_list_id)[0].click();
                $('#info').text("Todo updated: "+ data.todo_name).show();
                $('#info').delay(2000).fadeOut('slow');
            },
            error: function (data) {
                alert(data)
            }
        })
    });
    $(document).on('click', '[id^=add_new_todo_]', function (event) {
        event.preventDefault();
        var choosed_list_id = $(this).attr('id');
        $.ajax({
            data : { choosed_list_id : choosed_list_id },
            type : 'GET',
            url : '/add',
            success : function (data) {
                $('div#l_content').slideUp("slow");
                $('div#e_content').slideUp("slow");
                $('div#a_content').html(data);
                $('div#a_content').slideDown('slow');
            },
            error : function (data) {
                alert('Add item aborted')
            }
        })
    });
    $(document).on('click', '[id^=add_todo_submit_]', function (event) {
        event.preventDefault();
        var choosed_list_id = $(this).attr('id');
        var todo_name = $('#todo_name_submit').val();
        var todo_due_date = $('#todo_due_date_submit').val();
        var todo_priority = $('#todo_priority_submit').val();
        $.ajax({
            data : { choosed_list_id : choosed_list_id,
                     todo_name : todo_name,
                     todo_due_date : todo_due_date,
                     todo_priority : todo_priority },
            type : 'POST',
            url : '/add',
            context : this,
            success : function (data) {
{#                var checked = "";#}
{#                if (data.done == "True") {#}
{#                    checked = "checked";#}
{#                }#}
                var trigger_button = choosed_list_id.replace('add_todo_submit_','');
                jQuery("#list_"+trigger_button)[0].click();
                $('#info').text("Todo added: "+ data.item_content).show();
                $('#info').delay(2000).fadeOut('slow');
            },
            error : function (data) {
                alert("Error in adding todo")
            }
        })
    });
    $(document).on('click', '[id=add_new_list]', function (event) {
        event.preventDefault();
        $.ajax({
            type : 'GET',
            url : '/addlist',
            success: function (data) {
                $('#a_l_content').slideDown('slow');
                $('#a_l_content').html(data);
            },
            error: function () {
                alert("Cannot add list")
            }
        })
    });
    $(document).on('click', '#add_list_submit', function (event) {
        event.preventDefault();
        var list_name = $('.inpbutt').val();
        $.ajax({
            data : {list_name : list_name },
            type : 'POST',
            async: false,
            url : '/addlist',
            success : function (data) {
                if (data.error){
                    $('#info').text(data.error).show();
                    $('#info').delay(2000).fadeOut('slow');
                }
                else {
                    $('#info').text("List was added: "+ data.todo_list_name).show();
                    $('#info').delay(2000).fadeOut('slow');
                    $('#list_of_lists').append('<a class="btn btn-default btn-large" id="list_'+data.todo_list_id+'" ' +
                        'href="" role="button">'+ data.todo_list_name+'</a>');
                    alert($('list_'+data.todo_list_id).parent().attr('id'));
                }
            },
            error : function () {
                alert("Error during creating list")
            }

        })
    });
    $(document).on('click', '[id^=rem_list_]', function (event) {
        event.preventDefault();
        var list_id = $(this).attr('id');
        $.ajax({
            data: {list_id: list_id},
            type: 'GET',
            url: '/remove_list',
            success: function (data) {
                if (data.error) {
                    $('#info').text("Error: "+ data.error).show();
                    $('#info').delay(2000).fadeOut('slow');
                }
                else {
                    $('#info').text("List: "+ data.list_name+" has been deleted").show();
                    $('#info').delay(2000).fadeOut('slow');
                    var list_button = $('#list_'+data.list_id);
                    list_button.fadeOut('slow', function () {
                        list_button.remove();
                        $('#l_content').slideUp('slow');
                    })
                }
            },
            error: function (data) {
                alert("Removing list failed")
            }
        })
    })
});
</script>
{% endblock %}