{% extends "base.html" %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
    <div id="all_lists"></div>
    <div id="l_content" class="col-md-12" style="padding: 10px; display: none;"></div>
    <div id="e_content" class="col-md-12" style="padding: 10px; display: none;"></div>
    <div id="a_content" class="col-md-12" style="padding: 10px; display: none;"></div>
    <div id="a_l_content" class="col-md-12" style="padding: 10px; display: none;"></div>
    <div id="info" class="alert alert-success text-centered col-md-12" hidden></div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}