{% extends "base.html" %}
{% block title %}
    Manager page
{% endblock %}
{% block head %}
    {{ super() }}
    {{ JSGlue.include() }}
{% endblock %}
{% block navbar %}
    {{ super() }}
    {%  block menu %}
    {% endblock %}
{% endblock %}
{% block content %}
    {{ super() }}
    <h2 class="content">Users lists management</h2>
    <div class="manager">
        <table class="table table-bordered">
            <thead>
                <tr>
                  <th>User_id</th>
                  <th>User name</th>
                  <th>Allowed lists</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users_list %}
                <tr>
                    <td>{{ user.user_id }}</td>
                    <td>{{ user.username }}</td>
                    {% for list in user_list_names %}
                        {% if list[0] == user.user_id %}
                            <td>
                                <ul class="list-group">
                                  {% for item in list[1] %}
                                       <li class="list-group-item">{{ item[0] }}</li>
                                  {% endfor %}
                                </ul>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <form method="POST" name="assign_list" action="{{ url_for("manager") }}" class="manager">
        <fieldset>
            <legend>Choose user and list</legend>
            <label class="label-form">User
                <select class="form-control form-group" name="user_to_add" id="user_to_add">
                    {% for user in users_list %}
                        <option>{{ user.username }}</option>
                    {% endfor %}
                </select>
            </label>
            <label class="label-form">List
                <select class="form-control form-group" name="list_to_add" id="list_to_add">

                    {% for list in full_list %}
                        <option>{{ list[0] }}</option>
                    {% endfor %}
                </select>
            </label>
            <button class="btn btn-default" type="submit">Assign list to user</button>
            <button class="btn btn-default" onclick="return Remove()">Remove list from user</button>
        </fieldset>
    </form>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}


